# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.mp4
*.m4p
*.m4v
*.mpg 
*.mp2
*.mpeg
*.mpe
*.mpv
*.mpg
*.mpeg
*.m2v
*.m4v
*.3gp
*.flv 
*.f4v
*.f4p
*.f4a 
*.f4b
*.jpeg
*.jpg
*.png
*.svg
*.hdf5
# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.png
*.jpg
*.swp
*~
*.swo


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints



# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Kdev
*kdev*
*.ipynb

# Results
results

# Temporary files
*~

# Exceptions
!bug_reproduce_amplitude_blowing.ipynb

!.svgs/*
.svgs/*~

# Sphinx gitignore files

# sphinx build folder
_build

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# OS generated files #
######################
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# Editor backup files #
#######################
*~

# Mesh files
*.msh

# Exception for mesh folder
!2d_solver/tests/msh_parser/mesh/rectangular.msh

# Vim swp file
*.swp

# Except ipynb for example directory
!examples/*
!examples/read_and_plot_mesh/*
!examples/read_and_plot_mesh/mesh/*
!dg_maxwell/tests/mesh/*
!dg_maxwell/tests/msh_parser/mesh/*
examples/results
!docs/quazar_logo.png
!dg_maxwell/tests/wave_equation_2d/files/*
!examples/interelement_relations/*
*.kate-swp

*.ipynb_checkpoints*

